@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" />
@model List<Picture>

<div class="text-center">
    <h1 class="display-4">Upload the Image</h1>




    <div class="flex-row">

        <form asp-action="UploadImage" method="POST" enctype="multipart/form-data">
            <p>Download the image</p>
            <input type="file" name="image" required />

            <button type="submit" class="btn btn-outline-warning">Save</button>
        </form>

        <form asp-controller="Home" asp-action="SearchImage" method="POST">
            <div class="input-group">
                <input name="searchString" type="text" class="form-control" placeholder="Search for..." aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm">Search</i>
                    </button>
                </div>
            </div>
        </form>

        @if (ViewBag.Link!=null)
        {
            <div>

            <h1 class="display-4">Uploaded  Images</h1>

            <img src="@ViewBag.Link" width="30%" >
        </div>
        }
        

        <div class="flex-column">
            @if (ViewBag.images != null)
            {
                foreach (Picture item in ViewBag.images)
                {     
                    <p>
                        <img src="@item.Path" width="50%" alt="all_picture " />
                    </p>

                }
            }

        </div>



    </div>


</div>
